@model Repaso.WebApplicationUI.Models.EmpleadoViewModel

@{
    ViewBag.Title = "Index";
}


<h2>Lista de Empleados</h2>

<input type="button" class="btn btn-primary" onclick="createPartialView();" data-toggle="modal" value="Nuevo" data-target="#AgregarEmpleado" />


<br />


<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Confirmar</h2>
            </div>
            <div class="modal-body">
                <h3>¿Esta seguro que quiere eliminar a este empleado?</h3>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <a href="#" id="btnEliminar" class="btn btn-primary mr-2">Eliminar</a>
                    <a href="#" id="btnCancelConfirm" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>



<table class="table table-bordered">
    <tr class="btn-primary">
        <th>
            Nombre
        </th>
        <th>
            Direccion
        </th>
        <th>
            Email
        </th>
        <th>
            Telefono
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in ViewBag.EmpleadoViewModel)
    {
        <tr id="row_@item.EmpleadoId">
            <td>
                @item.Nombre
            </td>
            <td>
                @item.Direccion
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Telefono
            </td>
            <td>
                <a hrel="#" id="showModal" class="btn btn-danger" onclick="ConfirmDelete(@item.EmpleadoId)">Eliminar</a> |
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#AgregarEmpleado" onclick="obtenerEmpleado(@item.EmpleadoId);">Actualizar</a>
            </td>
        </tr>
    }

</table>

<input type="hidden" id="empleadoId" />

<div class="modal fade" id="modalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Eliminar empleado</h3>
            </div>

            <div class="modal-body">
                <h4>Esta seguro que quiere borrarlo?</h4>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                <a href="#" class="btn btn-success" onclick="deleteEmployee()">Confirmar</a>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        function createPartialView() {
            var urlVista = "@Url.Action("Create", "Empleado")";
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: urlVista,
                data: {},
                success: function (response) {
                    $('#resultado').empty().html(response);
                    $("#AgregarEmpleado").modal("show");
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }

        function obtenerEmpleado(id) {
            //var id = $("#empleadoId").val();
            let urlVista = "/empleado/update/" + id;
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: urlVista,
                data: {},
                success: function (response) {
                    $("#resultado").empty().html(response);
                    $("#AgregarEmpleado").modal("show");
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }

        function actualizarEmpleado(id) {
            var fornulario = $(this);
            var dataSerializada = formulario.serialize();
            let urlVista = "/empleado/update/{id}";
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: urlVista,
                data: dataSerializada,
                success: function (response) {
                    $("#resultado").empty().html(response);
                    $("#AgregarEmpleado").modal("show");
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }

        var ConfirmDelete = function (EmpleadoId) {
            $("#empleadoId").val(EmpleadoId);
            $("#modalDelete").modal('show');
        }

        var deleteEmployee = function () {

            var empId = $("#empleadoId").val();
            $.ajax({
                type: "POST",
                url: "/empleado/Delete",
                data: { id: empId },
                success: function () {
                    $("#modalDelete").modal("hide");
                    $("#row_" + empId).remove();
                }
            })

        }


    </script>

}


<div id="AgregarEmpleado" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="resultado"></div>
            </div>
        </div>
    </div>
</div>


